body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:999px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:795px;
}
#u856 {
  position:absolute;
  left:0px;
  top:0px;
  width:999px;
  height:795px;
}
#u857 {
  position:absolute;
  left:2px;
  top:390px;
  width:995px;
  visibility:hidden;
  word-wrap:break-word;
}
